<div class="col-md-12">
  <div class="forum-head clearfix">
    <h1 class="pull-left"><a href="/">Forum</a>{{#if title}} - {{title}}{{/if}}</h1>
    <a href="/post/create" class="btn btn-strava btn-create-post pull-right">Create a Post</a>
  </div>

  <div class="thread post-list">
    <ul class="list-unstyled list-thread thead hidden-xs">
      <li class="main">Discussion</li>
      <li class="num">Messages</li>
      <li class="num">Views</li>
      <li class="num">Kudos</li>
      <li class="update">Last Updated</li>
    </ul>
    <ul class="list-unstyled list-thread">
      {{#each data}}
      <li class="tbody">
        <div class="main">
          <div class="thread-meta">
            <div class="thread-icon">
              <img src="{{post.user_image}}" />
            </div>
            <div class="thread-title">
              <a href="/post/{{post.id}}">{{post.title}}</a>
              <p><a href="#{{post.user_id}}">{{post.user_name}}</a>, {{post.date}}</p>
            </div>
          </div>
        </div>
        <div class="num num-xs">
          <i class="icon-messages visible-xs-inline-block"></i>
          {{number messages}}
        </div>
        <div class="num">
          <i class="icon-views visible-xs-inline-block"></i>
          {{number views}}
        </div>
        <div class="num">
          <div class="btn-kudo">
            <i class="icon-kudo icon-dark"></i>
            <span class="count">{{number kudos}}</span>
          </div>
        </div>
        <div class="update">
          <div class="thread-meta">
            <div class="thread-icon avatar">
              <img src="{{update.user_image}}" />
            </div>
            <div class="thread-title">
              <a href="#">{{update.user_name}}</a>
              <p class="date">{{update.last_updated}}</p>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

</div>
