<div class="col-md-12">
  <div class="forum-head clearfix">
    <h1 class="pull-left"><a href="/">Forum</a>{{#if title}} - {{title}}{{/if}}</h1>
    <a href="/create" class="btn btn-strava btn-create-post pull-right hidden-xs">Create a Post</a>
  </div>

  <div class="row post-detail">
    <hgroup class="post-title col-md-12">
      <h2>{{post.title}}</h2>
      <ul class="list-inline list-post-meta">
        <li class="messages"><span class="count">{{number post.meta.messages}}</span> Messages</li>
        <li class="divider"></li>
        <li class="views"><span class="count">{{number post.meta.views}}</span> Views</li>
        <li class="divider"></li>
        <li class="kudos">
          <div class="btn-kudo">
            <i class="icon-kudo icon-dark"></i>
            <span class="count">{{number post.meta.kudos}}</span> Kudos
          </div>
        </li>
      </ul>
    </hgroup>

    <div class="col-md-9">
      <ul class="list-unstyled list-post">
      {{#each post.comments}}
        {{> shared/post}}
      {{/each}}
      </ul>

      <div class="messsage">
        <h2>Message</h2>
        <div class="messsage-wrap">
          <div class="messsage-user">
            <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/7417/4259/2/medium.jpg">
          </div>
          <div class="messsage-form">
            {{> ajax_loader}}
            <form>
              <div class="form-group">
                <textarea class="form-control"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default btn-strava btn-submit disabled">Add Comment</button>
                <button type="cancel" class="btn btn-link btn-cancel">Cancel</button>
              </div>
            </form>

          </div>

        </div>
      </div>


    </div>

  </div>
</div>
