<div class="col-md-12">
  <div class="forum-head clearfix">
    <h1 class="pull-left"><a href="/">Forum</a>{{#if title}} - {{title}}{{/if}}</h1>
    <a href="/post/create" class="btn btn-strava btn-create-post pull-right hidden-xs">Create a Post</a>
  </div>

  <div class="row">
    <hgroup class="post-title col-md-12">
      <h2>{{post.title}}</h2>
      <ul class="list-inline list-post-meta">
        <li>{{number post.meta.messages}} Messages</li>
        <li class="divider"></li>
        <li>{{number post.meta.views}} Views</li>
        <li class="divider"></li>
        <li>{{number post.meta.kudos}} Kudos</li>
      </ul>
    </hgroup>

    <div class="col-md-9">
      <ul class="list-unstyled list-post">
      {{#each post.comments}}
        <li class="post">
          <div class="post-meta">
            <img src="{{user.image}}" />
            <p>{{number user.kudos}}</p>
          </div>

          <div class="post-body">
            <p class="post-date">
              <a href="#{{user.id}}">{{user.name}}</a>, {{date}}
            </p>

            <div class="post-message">
              {{{breaklines body}}}
            </div>

            <div class="post-attachments"></div>

            <div class="post-footer">
              <div class="btn-kudo">
                <i class="icon-kudo icon-dark"></i>
                <span class="count">{{number kudos}}</span>
              </div>
            </div>
          </div>
        </li>
      {{/each}}
      </ul>

      <div class="comment">
        <h2>Comment</h2>
        <div class="comment-wrap">
          <div class="comment-user">
            <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/7417/4259/2/medium.jpg">
          </div>
          <div class="comment-form">
            <form>
              <textarea class="form-control"></textarea>
              <button type="submit" class="btn btn-default btn-strava">Add Comment</button>
              <button type="cancel" class="btn btn-link">Cancel</button>
            </form>

          </div>

        </div>
      </div>


    </div>

  </div>
</div>
